.section-1{
    height: 400px;
    background-color: #0091EA;
    background-image: url(../img/section1img.webp);
    background-size: cover;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        .row{
            .text-center{
                .page{
                    h1{
                        color: white;
                    }
                    ul{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0;

                        li{
                            list-style-type: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}